@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-surface: #2a2a2a;
  --color-surface-elevated: #d4d4d4;
  --color-brand-yellow: #ffc107;
  --color-brand-yellow-hover: #ffd54f;

  --font-display: "Cormorant Infant", serif;
  --font-mono-display: "SUSE Mono", monospace;
  --font-old-standard: "Old Standard TT", serif;
}

body {
  min-height: 100vh;
  background-color: #faf9f6;
}

@layer components {
  .orange-gradient {
    background: radial-gradient(
      circle 200px at 0% 0%,
      rgba(255, 107, 0, 0.3) 0%,
      transparent 90%
    );
  }

  .grey-background {
    @apply border-white/10 bg-white/5 backdrop-blur-sm;
  }

  .fill-text {
    background-image: linear-gradient(to right, #8250ffcc 50%, #000000 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.4s ease;
  }
  .group:hover .fill-text {
    background-position: 0 0;
  }

  .header-btn:hover ~ .header-btn-icon {
    transform: translate(4px) rotate(12deg);
  }
  .header-btn-icon {
    transition: transform 0.3s ease-out;
  }

  .anything-color {
    font-style: italic;
    background: linear-gradient(
      135deg,
      rgba(255, 107, 0, 0.8) 0%,
      rgba(130, 80, 255, 0.8) 100%
    );

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

    font-weight: bold;
  }

  /* Suggested Buttons */
  .suggested-button {
    position: relative;
    display: inline-block;
    padding: 8px 15px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to bottom right, #f7f6ef, #f5f4ef);
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 40px;
    box-shadow: 0px 2px 0px #d8d5ca;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .suggested-button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 3px 0px #d8d5ca;
    background-image: linear-gradient(
      to bottom right,
      #f5f4ef,
      rgb(255, 254, 243)
    );
  }

  .suggested-button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #e8e6de, #f0efe9);
  }

  .suggested-button:before,
  .suggested-button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }

  .suggested-button:before {
    top: -3px;
    left: -3px;
    border-radius: 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.08);
    border-left: 2px solid rgba(0, 0, 0, 0.08);
  }

  .suggested-button:after {
    bottom: -3px;
    right: -3px;
    border-radius: 40px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    border-right: 2px solid rgba(0, 0, 0, 0.08);
  }
}

.prose ul > li::marker,
.prose ol > li::marker {
  color: var(--color-brand-yellow);
}
